@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap');

body {
    margin:0;
    padding:0;
    overflow:hidden;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: black;
}

button{
    background-color: white;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 10px;
    cursor: pointer;
}

.furniture{
    border-radius: 1px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;
}

p{
    position: relative;
    white-space: pre-line;
}

#logo1{
    position: absolute;
    padding: 0 auto;
    margin-top: 10px;
    left: 15px;
    color: black;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
}

#logo2{
    position: absolute;
    padding: 0 auto;
    margin-top: 10px;
    left: 125px;
    color: dodgerblue;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
}

#drawButton{
    cursor: pointer;
    z-index: 10000;
}

#svg{
    visibility: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    fill: black;
    z-index: 1;
}

#polygon{
    fill: rgb(240, 240, 240);
    stroke: black;
    paint-order: stroke;
    stroke-width: 4px;
}

.guidePoints{
    position: absolute;
    visibility: hidden;
    width: 15px;
    height: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 50%;
    z-index: 10;
}

#startPointCircle{
    background-color: lightgray;
}

#endPointCircle{
    background-color: dodgerblue;
}

.rulers{
    position: absolute;
    position: absolute;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.furnitureButtonStyle{
    visibility: visible;
    position: absolute;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    line-height: 140px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 70%;
    z-index: 100;
}

.furnitureButtonStyle:active{
    border-color: white;
    color: dodgerblue;
    box-shadow: 0px 0px 5px 0px dodgerblue;
    cursor: pointer;
}

#furnitureInputContainer{
    position: absolute;
    padding: 10px;
    left: 330px;
    top: 75px;
    width: 300px;
    height: 250px;
    background-color: white;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 10px;
    z-index: 100000;
    visibility: hidden;
}

input::placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #787878;
}

#furnitureMenuTitle{
    text-align: center;
    font-weight: 600;
}

.furniture{
    position: absolute;
    background-size: 100% 100%;
}

.furniture:active{
    border-style: solid;
    border-color: dodgerblue;
    border-width: 2px;
}

.furnitureInput{
    text-align: right;
    height: 15px;
    float: right;
    width: 180px;
    margin-top: 7px;
}

.furnitureLabel{
    float: left;
    width: 80px;
    margin-top: 10px;
}

.menuButtons{
    display: inline-block;
    position: relative;
    margin: 20px;
    width: 100px;
    height: 40px;
    left: 10px;
    font-weight: lighter;
    color: gray;
    font-weight: bold;
}
#addFurniture{
    border-color: dodgerblue;
    color: dodgerblue;
}
#addFurniture:active{
    border-color: white;
    background-color: dodgerblue;
    color: dodgerblue;
    box-shadow: 0px 0px 5px 0px dodgerblue;
    color: white;
}
#cancelFurniture:active{
    background-color: lightgrey;
    border-color: gray;
    color: white;
}

#roomInfo{
    visibility: hidden;
    position: absolute;
    height: 145px;
    width: 310px;
    left: 1595px;
    top: 810px;
    background-color: white;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 10px;
    z-index: 100;
}

#roomInfo p{
    position: relative;
    left: 20px;
}

#furnitureMenu{
    position: absolute;
    left: 10px;
    top: 75px;
    width: 310px;
    height: 880px;
    background-color: white;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 10px;
}

#priceTable{
    position: absolute;
    width: 300px;
    height: 440px;
    top: 420px;
    left: 5px;
    font-size: 13px;
    color: black;
}

#line1{
    position: absolute;
    width: 290px;
    top: 410px;
    left: 10px;
    border-top: 1px solid lightgray;
}

#line2{
    position: absolute;
    width: 290px;
    top: 830px;
    left: 10px;
    border-top: 1px solid lightgray;
}

#furnitureList{
    position: absolute;
    left: 15px;
    float: left;
    text-align: left;
}

#furniturePriceList{
    position: absolute;
    left: 285px;
    float: right;
    text-align: right;
}

#totalPrice{
    position: relative;
    display: flex;
    top: 400px;
    margin-right: 5px;
    float: right;
    font-weight: 600;
    color: dodgerblue;
    font-size: 25px;
}

input[type="checkbox"] {
    display: block;
    position: relative;
    top: 507px;
    left: 10px;
    z-index: 100;
}

input[type="number"] {
    border-style: solid;
    border-width: px;
    border-color: black;
    border-radius: 5px;
}

input[type="text"] {
    border-style: solid;
    border-width: px;
    border-color: black;
    border-radius: 5px;
}

#wallMenu{
    position: absolute;
    left: 10px;
    top: 75px;
    width: 310px;
    height: 880px;
    background-color: white;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 10px;
    font-weight: 500;
    z-index: 1000;  
}

#instructions{
    padding: 10px;
}

#wallMenu button{
    position: absolute;
    border-style: solid;
    transform: center;
    background-color: white;
    border-color: black;
    border-width: 2px;
    height: 30px;
    width: 100px;
    border-radius: 7.5px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    z-index: 1000;  
}

.wallControls:active{
    background-color: dodgerblue !important;
    color: white !important;
    border-color: white !important;
    box-shadow: 0px 0px 5px 0px dodgerblue;
}

#wallButtons{
    position: absolute;
    visibility: hidden;
    cursor: pointer;
    margin: 0 auto;
    font-weight: bold;
}

#up{
    position: absolute;
    left: 125px;
    top: 170px;
    width: 50px !important;
    height: 50px !important;
    font-size: 20px;
}

#down{
    position: absolute;
    top: 270px;
    left: 125px;
    width: 50px !important;
    height: 50px !important;
    transform:rotate(180deg);
    font-size: 20px;
}

#left{
    position: absolute;
    left: 75px;
    top: 220px;
    width: 50px !important;
    height: 50px !important;
    transform:rotate(-90deg);
    font-size: 20px;
}

#right{
    position: absolute;
    left: 175px;
    top: 220px;
    width: 50px !important;
    height: 50px !important;
    transform:rotate(90deg);
    font-size: 20px;
}

#wallLength{
    top: 10px;
    left: 110px;
}

#inputLength{
    position: absolute;
    top: 45px;
    left: 80px;
    width: 125px;
    height: 20px;
}

#invertruler{
    position: absolute;
    left: 100px;
    top: 80px;
}

#undo{
    position: absolute;
    left: 45px;
    top: 350px;
    border-color: crimson !important;
    color: crimson;
}

#undo:active{
    background-color: crimson !important;
    color: white !important;
}

#clear{
    position: absolute;
    left: 150px;
    top: 350px;
    border-color: crimson !important;
    color: crimson;
}

#clear:active{
    background-color: crimson !important;
    color: white !important;
}

#startpoint{
    position: absolute;
    left: 80px;
    top: 500px;
    width: 140px !important;
    border-color: dodgerblue !important;
    background-color: dodgerblue !important;
    color: white !important;
}

#finishroom{
    position: absolute;
    left: 100px;
    top: 410px;
    visibility: hidden;
    border-width: 2px;
    border-color: dodgerblue !important;
    color: white;
    background-color: dodgerblue !important;
}

#finishroom:active{
    border-color: white !important;
    box-shadow: 0px 0px 5px 0px dodgerblue !important;
}

#deleteFurniture{
    position: relative;
    background-image: url('assets/trashcan.png');
    background-color: crimson;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    top: 795px;
    left: 10px;
    z-index: 100;
}

#deleteFurniture:active{
    background-color: #A41720;
}

#grid{
position: absolute;
top: 75px;
left: 335px;
height: 880px;
width: 1570px;    
background-image: url(assets/grid.png);
background-size: 10%;
opacity: 10% ;
z-index: 0;
}
